
<div class="row">
  <div class="large-12 columns">
    <h1>Demo</h1>
    <table cellpadding="10">
      <tr>
        <td>
          <button ng-click="echoTest()">Echo RPC</button>
        </td>
        <td>
          <button ng-click="dbKeysTest()">DB Keys RPC</button>
        </td>
        <td>
          <button ng-click="clockTest()">Clock Gadget</button>
        </td>
      </tr>
      <tr>
        <td colspan="3">{{message}} &nbsp;</td>
      </tr>
    </table>
    <p>tick: {{tick}}</p>
  </div>
</div>