.row
  .large-12.columns
    h1 Demo

    table(cellpadding=10)
      tr
        td
          button(ng-click='echoTest()') Echo RPC
        td
          button(ng-click='dbKeysTest()') DB Keys RPC
        td
          button(ng-click='clockTest()') Clock Gadget
      tr
        td(colspan=3)
          | {{message}} &nbsp;

    p tick: {{tick}}
