doctype
html(ng-app)
  head
    title Blink demo
    style body { margin: 30px; }
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js')
  body
    h1 Blink

    table(cellpadding=10)
      tr
        td
          input(type='checkbox',name='redLed',id='rl',disabled)
          Label(for='rl') Red LED
        td
          input(type='checkbox',name='greenLed',id='gl',disabled)
          Label(for='gl') Green LED
      tr
        td
          input(type='checkbox',name='button1',id='b1')
          Label(for='b1') Button 1
        td
          input(type='checkbox',name='button2',id='b2')
          Label(for='b2') Button 2

    p AngularJS says: 1 + 1 = {{ 1 + 1 }}
