<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Blink demo</title>
    <style>body { margin: 30px; }</style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.9/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.0/angular-ui-router.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <h1>Blink</h1>
    <table cellpadding="10">
      <tr>
        <td>
          <button ng-mouseDown="button(1,1)" ng-mouseup="button(1,0)">Button 1</button>
        </td>
        <td>
          <button ng-mouseDown="button(2,1)" ng-mouseup="button(2,0)">Button 2</button>
        </td>
        <td>
          <button ng-click="echoTest()">RPC Echo</button>
        </td>
        <td>
          <button ng-click="dbGetTest()">RPC DB Get</button>
        </td>
        <td>
          <button ng-click="dbKeysTest()">RPC DB Keys</button>
        </td>
        <td>
          <button ng-click="luaTest()">RPC Lua</button>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" ng-model="blinker.green" disabled>Green LED
        </td>
        <td>
          <input type="checkbox" ng-model="blinker.red" disabled>Red LED
        </td>
        <td colspan="4">{{ message }}</td>
      </tr>
    </table>
    <p>Count = {{ blinker.count }}</p>
    <p>Admin = {{ admin.started }}</p>
    <script src="client.js"></script>
    <script src="jeebus.js"></script>
  </body>
</html>