extends base-ng-zf/layout

//- block vars

//- block styles

prepend vendor
  script console.log('BEFORE vendor');

append scripts
  script console.log('AFTER scripts');
  script(src='/demo/demo.js')
