extends base-ng-zf/layout

block vars
  title= 'JeeBus example'

block styles
  link(rel='stylesheet',href='/base-ng-zf/app.css')

append vendor
  script(src='/base-ng-zf/vendor/raphael/raphael-min.js')

append scripts  
  script(src='/demo/demo.js')
  script console.log('READY');
