extends main/layout

block vars
  title= 'HouseMon'

prepend styles
  link(rel='stylesheet',href='/common/vendor/bower-foundation-css/foundation.css')

prepend scripts
  script(src='/common/vendor/angular/angular.js')
  script(src='/common/vendor/angular-animate/angular-animate.js')
  script(src='/common/vendor/angular-ui-router.js')
  script(src='/common/vendor/raphael/raphael.js')
