extends main/layout

block vars
  title= 'HouseMon'

prepend styles
  link(rel='stylesheet',href='/common/vendor/bower-foundation-css/foundation.min.css')

block scripts
  script(src='/common/vendor/angular/angular.min.js')
  script(src='/common/vendor/angular-ui-router.min.js')
  script(src='/common/vendor/angular-animate/angular-animate.min.js')
  
  script angular.module('myApp', ['ui.router', 'ngAnimate']);
  
  script(src='/common/vendor/raphael/raphael-min.js')
  script(src='/main/client.js')
  script(src='/jeebus/jeebus.js')
  
  script console.log('READY');
