doctype
html(ng-app='myApp')
  head
    title Blink demo
    style body { margin: 30px; }
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.9/angular.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.0/angular-ui-router.js')

  body(ng-controller='MainCtrl')
    h1 Blink

    table(cellpadding=10)
      tr
        td
          button(ng-mouseDown='button(1,1)',ng-mouseup='button(1,0)') Button 1
        td
          button(ng-mouseDown='button(2,1)',ng-mouseup='button(2,0)') Button 2
        td
          button(ng-click='echoTest()') RPC Echo
        td
          button(ng-click='dbGetTest()') RPC DB Get
        td
          button(ng-click='dbKeysTest()') RPC DB Keys
        td
          button(ng-click='luaTest()') RPC Lua
      tr
        td
          input(type='checkbox',ng-model='blinker.green',disabled)
          | Green LED
        td
          input(type='checkbox',ng-model='blinker.red',disabled)
          | Red LED
        td(colspan=4)
          | {{ message }}

    p Count = {{ blinker.count }}

    p Server time = {{ admin.tick }}

    script(src='client.js')
    script(src='jeebus.js')
