doctype

block vars

html(lang='en')
  head
    meta(charset='utf-8')
    style [ng-cloak] { display: none; }
    
    block title
      title JeeBus

    //- always include the CSS part of Zurb Foundation
    link(rel='stylesheet',href='/base/vendor/bower-foundation-css/foundation.min.css')

    //- additional stylesheets, can be adjusted as needed
    block styles
      link(rel='stylesheet',href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
      //- link(rel='stylesheet',href='/base/vendor/fontawesome-clean/font-awesome.css')
      link(rel='stylesheet',href='/base/circedit.css')

  body(ng-cloak,ng-app='myApp')
  
    block nav
      nav.top-bar(ng-controller='NavCtrl')
        ul.title-area
          li.name
            h1
              a(ng-href='{{appInfo.home}}')
                img(src='/base/logo.png',height=22,width=22)
                | &nbsp; {{appInfo.name}}
          li.toggle-topbar.menu-icon
            a(href='#')
              span
        section.top-bar-section
          ul.left
            li.myNav(ng-repeat='nav in navbar')
              a(ng-href='{{nav.route}}') {{nav.title}}
            li.divider
          block admin
            ul.right
              li.myNav
                a(href='/admin') Admin

    block main
      div(ui-view)

    block footer
      .row
        .large-3.columns
          p.secondary.label Version {{appInfo.version}}
        .large-3.columns
          p.secondary.label Server {{serverStatus}}
    
    //- AngularJS is always included first
    script(src='/base/vendor/angular/angular.js')

    //- not essential, these can be replaced
    block vendor
      script(src='/base/vendor/angular-ui-router.min.js')
      script(src='/base/vendor/angular-animate/angular-animate.min.js')
      script(src='/base/vendor/angular-foundation/mm-foundation-tpls.min.js') 
      script(src='/base/vendor/d3/d3.min.js')

    //- main setup of the Angular app and WebSocket connection
    block startup
      script(src='/startup.js')
      script(src='/base/circedit.js')
      script(src='/base/jeebus.js')

    //- useful additions, can be replaced
    block scripts
      script(src='/base/nav.js')
