.row
  .large-12.columns
    h3 Readings

    table
      tr
        th Location
        th Parameter
        th Value
        th Time
        th Id
      tr(ng-repeat='r in readings | orderBy:"loc" track by r.id')
        td {{r.loc}}
        td {{r.key}}
        td {{r.value}}
        td {{r.date}}
        td {{r.id}}
