.row
  .large-12.columns
    h3 Readings

    table
      tr
        th Location
        th Parameter
        th Value
        th Time
        th Tag
      tr(ng-repeat='r in readings | orderBy:"loc"')
        td {{r.loc}}
        td {{r.key}}
        td {{r.val}}
        td {{r.ms | date:"MM-dd HH:mm:ss"}}
        td {{r.tag}}
